<app-subnavbar></app-subnavbar>
<table style="margin-right: auto; margin-left: auto;" border="0">
  <tbody>
    <tr>
      <td><img src="assets/images/logo_chantprenatal.png" class="img-fluid" alt="Responsive image" /></td>
      <td>
        <div style="color: #e90691; font-size: 14pt; line-height: 115%;"><b>Chant
            Prénatal</b></div>
      </td>
    </tr>
  </tbody>
</table>
<img style="margin-right: auto; margin-left: auto; display: block;" src="assets/images/accueil.jpg" class="img-fluid"
  alt="Responsive image" />

<p style="text-align: center;"> </p>
<p style="text-align: center;"><span style="color: #e90691; font-size: 14pt;"><b>Les bienfaits pour le bébé</b></span>
</p>
<div class="container-fluid">
  <div class="col col-lg-10 offset-lg-1">
    <div class="offset-lg-1" style="text-align: left; color: #808080; font-size: 12pt;">

      <div><span style="color: #663366; font-size: 12pt;"><i>Lien affectif</i></span></div>
      <br />
      <div><span style="color: gray; font-size: 12pt;">Le bébé ressent les vibrations des sons mais aussi le climat
          affectif.
          Selon son humeur, la voix de la mère varie en intensité et en hauteur et elle transmet ainsi une foule de
          messages
          affectifs. Avec le chant, l’impact sur le bébé est multiplié puisque la voix est amplifiée. Par conséquent,
          les
          paroles des chansons choisies cultivent la vie affective du bébé. </span></div>
      <br />
      <table>
        <tbody>
          <tr>
            <td><img src="assets/images/promotion_3.jpg" class="img-fluid" alt="Responsive image" /></td>
            <td>
              <div>
                <div>
                  <div><span style="color: #663366; font-size: 12pt;"><i>Stimulation</i></span></div>
                  <div><span style="color: gray; font-size: 12pt;"> </span></div>
                  <div><span style="color: gray; font-size: 12pt;">Le rythme et la résonnance fait partie de la vie du
                      fœtus.
                      Très tôt, il est stimulé par des rythmes différents. En pratiquant le chant prénatal, la mère
                      influence
                      les battements de son cœur, ses émotions, sa forme physique, son tonus musculaire et stimule ainsi
                      le
                      développement et la santé de l’enfant.</span></div>
                </div>
              </div>
              <br />
              <p><span style="color: #663366; font-size: 12pt;"><i>Sécurité</i> </span></p>
              <div><span style="font-size: 12pt;"><span style="color: gray;"> </span></span></div>
              <div><span style="font-size: 12pt;"><span style="color: gray;"> Quand la mère se déplace, ses mouvements
                    donnent
                    au fœtus ses premiers repères dans l’espace et le temps. Quand la maman chante en bougeant, sa voix
                    circule dans son corps et enveloppe le bébé. Celui-ci éprouve alors une sensation de totale
                    sécurité.
                    Après la naissance, l'enfant qui reconnaît les mélodies entendues durant la
                    grossesse est souvent calmé et sécurisé.</span></span></div>
            </td>
          </tr>
        </tbody>
      </table>
      <span style="color: gray; font-size: 12pt;">
        <div><span style="font-size: 12pt;"><span style="color: #663366;"><i> </i></span></span></div>
        <div><span style="font-size: 12pt;"><span style="color: #663366;"><i>Oxygénation</i></span> </span></div>
        <div><span style="color: gray; font-size: 12pt;"> </span></div>
        <div><span style="color: gray; font-size: 12pt;"> L’amélioration de la respiration de la mère par le chant
            contribue à
            une meilleure oxygénation du bébé. Meilleur espace : La bonne posture et la respiration régulière et
            profonde de
            la mère offre à l’enfant un plus grand confort et plus d’espace pour grandir dans l’utérus. La bascule du
            bassin
            exécutée en chantant permet au bébé de bien prendre sa place dans le ventre de sa mère.</span></div>
        <br />
        <p style="text-align: center;"><span style="color: #e90691; font-size: 14pt;"><b>Les bienfaits pour la
              maman</b></span></p>
        <div><span style="color: #663366; font-size: 12pt;"><i>Un massage interne</i></span></div>
        <br />
        <div><span style="color: gray; font-size: 12pt;"> Selon les registres, la voix vibre dans différentes parties du
            corps. Le registre grave vibre davantage dans le bassin, le périnée, les jambes et les pieds et favorise une
            détente. Dans l’aigu, la résonance est plutôt au niveau de la tête et le système nerveux est stimulé. Dans
            les
            séances de chant prénatal, les vocalises permettent de se détendre, de diminuer ou d’éliminer les maux de
            tête, de
            retrouver son tonus. On bénéficie de l’énergie du groupe.</span></div>
        <br />
        <div><span style="color: #663366; font-size: 12pt;"><i>Le souffle, si important</i></span></div>
        <br />
        <div><span style="color: gray; font-size: 12pt;"> Avoir du souffle est une priorité pour chanter, mais aussi
            pour la
            femme enceinte! Le chant prénatal permet d’apprendre à gérer son souffle pour la durée de la grossesse, mais
            aussi
            et surtout pour le temps des contractions et de l’accouchement.</span></div>
        <br />
        <table>
          <tbody>
            <tr>
              <td>
                <div>
                  <div>
                    <div><span style="color: #663366; font-size: 12pt;"><i>Meilleure posture</i></span></div>
                    <div><span style="color: gray; font-size: 12pt;"> </span></div>
                    <div><span style="color: gray; font-size: 12pt;"> La croissance du bébé modifie l’équilibre et la
                        stabilité du corps de la mère. Pendant les cours de chant prénatal, on développe une conscience
                        physique et on active certains points importants comme les pieds, le bassin, le thorax, la tête
                        et la
                        nuque.</span></div>
                    <br />
                    <p><span style="color: #663366; font-size: 12pt;"><i>S’exprimer…</i> </span></p>
                  </div>
                </div>
              </td>
              <td><img src="assets/images/chantprenatal.jpg" class="img-fluid" alt="Responsive image" /></td>
            </tr>
          </tbody>
        </table>
        <div><span style="font-size: 12pt;"><span style="color: gray;"> Les changements hormonaux durant la grossesse
              affectent souvent sa sensibilité et la femme enceinte devient plus réceptive. L’atmosphère créée par les
              vocalises d’expression et le choix des chansons amène les participantes à explorer leurs émotions. Elles
              sont
              donc plus ouvertes et osent plus facilement utiliser leur voix, entre autres lors de
              l’accouchement.</span></span></div>
        <br />
        <div><span style="font-size: 12pt;"><span style="color: #663366;"><i> </i></span></span></div>
        <div><span style="font-size: 12pt;"><span style="color: #663366;"><i> Au moment de l’accouchement la voix,
                associée au
                souffle, peut faire des merveilles!</i></span> </span></div>
        <div><span style="color: gray; font-size: 12pt;"> </span></div>
        <div><span style="color: gray; font-size: 12pt;"> On s’en sert comme moyen d’expression, mais aussi comme
            analgésique
            parce qu’elle est associée à la libération d’endorphines grâce auxquelles la douleur diminue. De nombreuses
            postures et vocalises sont utilisées selon qu’on prépare le travail, l’engagement du bébé ou la
            poussée.</span>
        </div>
        <br />
        <p style="text-align: center;"><span style="color: #e90691; font-size: 14pt;"><b>La place du papa et le lien
              social</b></span></p>
        <div><span style="color: gray; font-size: 12pt;"> Durant la grossesse, il est parfois difficile pour le futur
            papa de
            ne pas se sentir exclu. Il peut cependant préparer la venue de l’enfant en établissant un contact physique
            et
            sonore avec lui.</span></div>
        <br />
        <table>
          <tbody>
            <tr>
              <td>
                <p><img src="assets/images/istock_000011900753xsmall.jpg" class="img-fluid" alt="Responsive image" />
                </p>
              </td>
              <td><span style="color: gray; font-size: 12pt;">La voix masculine traverse très facilement la paroi
                  utérine.
                  L’enfant reconnaîtra donc la voix de son père. Ces fréquences graves apportent détente et sécurité. Le
                  chant
                  prénatal permet à l’homme de trouver sa place dans l’aventure qu’est l’accouchement. S’il le souhaite,
                  il
                  peut passer du rôle de spectateur à participant en offrant un soutien moral, physique et psychologique
                  à sa
                  conjointe. En accompagnant la mère avec sa respiration et certaines </span></td>
            </tr>
          </tbody>
        </table>
        <span style="color: gray; font-size: 12pt;">
          <p>vocalises, il lui permettra de rester concentrée, calme et confiante. Le chant permet aux parents de
            s’adresser non plus à l’enfant idéalisé, mais à une personne bien réelle.</p>
        </span>
        <div><span style="color: gray; font-size: 12pt;">Être enceinte, c’est un peu être en décalage avec son univers
            habituel. Les occasions pour échanger, se confier, se faire rassurer et même se faire conseiller par nos
            proches
            ou par les différents spécialistes que l’on consulte ne sont pas toujours aussi fréquentes qu’on le
            souhaiterait.
            Les ateliers de chant prénatal sont une belle occasion de combler ce besoin d’échanger et de socialiser.
            Pour leur
            part, les parents d’origine étrangère peuvent se familiariser avec la langue et partager des chants
            traditionnels.</span></div>
        <div><span style="color: gray; font-size: 12pt;"> </span></div>
        <div><span style="color: gray; font-size: 12pt;">La bonne humeur, l’échange et la convivialité permettent de
            conserver
            un bel équilibre. Le rythme et la résonnance fait partie de la vie du fœtus. Très tôt, il est stimulé par
            des
            rythmes différents. En pratiquant le chant prénatal, la mère influence les battements de son cœur, ses
            émotions,
            sa forme physique, son tonus musculaire et stimule ainsi le développement et la santé de l’enfant.</span>
        </div>
        <div><span style="color: #595959; line-height: 115%; font-family: georgia,palatino; font-size: 12pt;"> </span>
        </div>
        <div><span style="color: #595959; line-height: 115%; font-family: georgia,palatino; font-size: 12pt;"> </span>
        </div>
        <div><span style="color: #595959; line-height: 115%; font-family: georgia,palatino; font-size: 12pt;"> </span>
        </div>
        <div><span style="color: #595959; line-height: 115%; font-family: georgia,palatino; font-size: 12pt;"> </span>
        </div>
        <div><span style="color: #595959; line-height: 115%; font-family: georgia,palatino; font-size: 12pt;"> </span>
        </div>
        <br /> <br /> <br /> <br /> <br />
        <div class="row">
          <div class="col-md-4 text-left"><a class="nav-link" [routerLink]="['/chantprenatal']"
              routerLinkActive="router-link-active" (click)="hautPage()">Description</a></div>
          <div class="col-md-4 text-center"><a class="nav-link" (click)="hautPage()"
              style="color:#527BFF; cursor: pointer">Haut de la page</a></div>
          <div class="col-md-4 col-md-offset-4 text-right"><a class="nav-link"
              [routerLink]="['/chantprenatal/deroulement']" routerLinkActive="router-link-active"
              (click)="hautPage()">Déroulement</a></div>
        </div>
