HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

/heroku/
/angular-githubpages/
/TutosFullCalendar/

/BienEtre-Front/node_modules/**

PortailPourProfessionnelDuBienEtre.ppt
Projet_Bien-Etre.docx
/BienEtre-Specs/CahierDesCharges.docx
/BienEtre-Specs/Sprint1.docx
/BienEtre-Specs/Sprint2.docx
/BienEtre-Specs/Sprint3.docx
