<app-subnavbarkinesio></app-subnavbarkinesio>

<p style="text-align: center;"><strong><span style="font-size: 14pt;"><span style="color: #e90691;" lang="FR">Thérapie
        du Bien-être…</span></span></strong></p>

<p style="text-align: center;"><strong><span style="font-size: 14pt;"><span style="color: #6f2c58;" lang="FR">Gestion du
        stress…</span></span></strong></p>
<img style="display: block; margin-left: auto; margin-right: auto;" src="assets/images/kinesiologie.jpg"
  class="img-fluid" alt="Responsive image" />
<p><span style="font-family: georgia,palatino;"> </span></p>
<p style="text-align: center;"><span style="font-size: 14pt; font-family: georgia,palatino;"><strong><span
        style="color: #e90691;" lang="FR">Kinésiologie</span></strong></span></p>
<p style="text-align: center;" align="center"><span style="font-size: 12pt; font-family: georgia,palatino;"><i><span
        style="color: #e90691;" lang="FR">Débloquer ses stress passés, présents et futurs</span></i></span></p>
<p style="text-align: center;" align="center"><span style="font-size: 12pt; font-family: georgia,palatino;"><i><span
        style="color: #e90691;" lang="FR">Equilibrer ses énergies</span></i></span></p>
<div class="container-fluid">
  <div class="col col-lg-10 offset-lg-1">
    <div class="offset-lg-1" style="text-align: left; color: #808080; font-size: 12pt;">

      A l’école, dans la vie privée
      et professionnelle, pour le sport, la musique, la kinésiologie nous aide à gérer ces différents stress:
      <br>
      <br>
      <ul>
        <li>
          Peurs, angoisses
        </li>
        <br>
        <li>
          Fatigue, frustrations, insomnies
        </li>
        <br>
        <li>
          Troubles de l’apprentissage, concentration, mémorisation, examens.
        </li>
          <br>
          <li>
          Traumas
        </li>
          <br>
          <li>
          Manque de confiance en soi
        </li>
      </ul>
      <p><span style="font-family: georgia,palatino;"><strong><span style="font-size: 14pt;"><span
                style="color: #e90691;" lang="FR">La kinésiologie pourquoi ?</span></span></strong></span></p>
      <span style="font-family: georgia,palatino;"><strong><span style="font-size: 14pt;">
            <p style="margin-bottom: 0.5cm; border: medium none; padding: 0cm;"><span
                style="font-family: georgia,palatino; font-size: 12pt;"><strong><span
                    style="font-weight: normal; color: #808080;">Tout être humain vit sa vie suivant trois
                    axes:</span></strong></span></p>
            <ul>
              <li>
                <p><span style="font-family: georgia,palatino; font-size: 12pt;"><b><span style="color: #6f2c58;"
                        lang="FR">Le
                        mental:</span></b><b> </b><span style="font-weight: normal; color: #808080;">pensées,
                      sentiments,
                      émotions...</span></span></p>
              </li>
              <li>
                <p><span style="font-family: georgia,palatino; font-size: 12pt;"><b><span style="color: #6f2c58;"
                        lang="FR">La
                        structure:</span></b><b> </b><span style="font-weight: normal; color: #808080;">muscles,
                      tendons,
                      ligaments, os, articulations.</span></span></p>
              </li>
              <li>
                <p><span style="font-family: georgia,palatino; font-size: 12pt;"><b><span style="color: #6f2c58;"
                        lang="FR">La
                        chimie:</span></b><b> </b><span style="font-weight: normal; color: #808080;">processus
                      biochimique à
                      l'intérieur du corps.</span></span></p>
              </li>
            </ul>
            <p style="margin-bottom: 0.5cm; border: medium none; padding: 0cm;"><span
                style="font-family: georgia,palatino; font-size: 12pt;"><strong><span
                    style="font-weight: normal; color: #808080;">Toutes perturbations qui affectent un de ces domaines
                    se
                    répercutent sur l'ensemble de notre équilibre.</span></strong></span></p>
            <p><span style="font-family: georgia,palatino; font-size: 12pt;"><strong><span
                    style="font-weight: normal; color: #808080;">La</span></strong><b><span style="color: #6f2c58;"
                    lang="FR">
                    kinésiologie </span></b><strong><span style="font-weight: normal; color: #808080;">permet, par une
                    approche globale, de maintenir ou rétablir notre</span></strong><b><span style="color: #6f2c58;"
                    lang="FR"> équilibre </span></b><strong><span style="font-weight: normal; color: #808080;">et aide
                    à
                    modifier la manière dont nous sommes reliés au stress.&nbsp; Son but est d'activer ses propres
                    forces de
                    guérison.</span></strong></span></p>
            <p><span style="font-family: georgia,palatino; font-size: 12pt;"><strong><span
                    style="font-weight: normal; color: #808080;">Elle utilise le </span></strong><b><span
                    style="color: #6f2c58;" lang="FR">test musculaire de précision </span></b><strong><span
                    style="font-weight: normal; color: #808080;">comme </span></strong><b><span style="color: #6f2c58;"
                    lang="FR">instrument de bio-feedback</span></b><strong><span
                    style="font-weight: normal; color: #808080;">
                    pour déceler et lever les blocages qui nous empêchent de disposer de tout notre potentiel et
                    d'atteindre
                    les objectifs que nous aimerions nous fixer.<br /></span></strong></span></p>
            <p><span style="font-family: georgia,palatino;"><strong><span style="font-size: 14pt;"><span
                      style="color: #e90691; font-size: 12pt;" lang="FR">La kinésiologie peut également servir d'outil
                      ou de
                      régénération à des personnes ne présentant aucun trouble mais qui désirent simplement faire le
                      point et
                      améliorer leur santé globale.</span></span></strong></span></p>
            <span style="font-family: georgia,palatino;"><strong><span style="font-size: 14pt;">
                  <p><span style="font-family: georgia,palatino; font-size: 12pt;"><strong><span
                          style="font-weight: normal; color: #808080;">La kinésiologie s'adresse aussi bien aux
                          adultes qu'aux
                          bébés en passant par les adolescents et les enfants.</span></strong></span></p>
                  <p><span style="font-family: georgia,palatino; font-size: 12pt;"><strong><span
                          style="font-weight: normal; color: #808080;">Certaines branches de la kinésiologie, comme le
                        </span></strong><b><span style="color: #6f2c58;" lang="FR">Brain Gym</span></b><strong><span
                          style="font-weight: normal; color: #808080;"> appelé également kinésiologie éducative ou
                          édu-kinésiologie, sont particulièrement adaptées à l'apprentissage.&nbsp; Ce qui signifie
                          qu'elles
                          sont parfaitement adaptées aux enfants.&nbsp; Ici, le test musculaire est utilisé comme
                          moyen de
                        </span></strong><b><span style="color: #6f2c58;" lang="FR">communication non
                          verbale</span></b><strong><span style="font-weight: normal; color: #808080;"> avec
                          soi-même.&nbsp;
                          Le travail se fait au niveau des difficultés d'</span></strong><b><span
                          style="color: #6f2c58;" lang="FR">apprentissage</span></b></span><span
                      style="font-family: georgia,palatino; font-size: 12pt;"><strong><span
                          style="font-weight: normal; color: #808080;">, de la perception de soi, de la communication,
                          des
                          relations et de la conscience.&nbsp; Autre objectif de l'édu-kinésiologie: l'intégration des
                          hémisphères cérébraux droit et gauche pour libérer les facultés potentielles du corps et de
                          l'esprit.&nbsp; Ceci s'adresse aussi bien aux enfants qu'aux adultes.</span></strong></span>
                  </p>
                  <br />
                </span></strong></span>
          </span></strong>
        <br /> <br /> <br /> <br /> <br />
        <div class="row">
          <div class="col-md-4"><a class="nav-link" [routerLink]="['/chantprenatal']"
              routerLinkActive="router-link-active" (click)="hautPage()">Chant prénatal</a></div>
          <div class="col-md-5"><a class="nav-link" (click)="hautPage()"
              style="color:#527BFF; cursor: pointer">Haut de la page</a></div>
          <div class="col-md-3"><a class="nav-link"
              [routerLink]="['/kinesiologie/enpratique']" routerLinkActive="router-link-active" (click)="hautPage()">En
              pratique</a></div>
        </div>
