<br>
<footer class="background-color: #C1BDBD">
  <!-- <footer class="background-color: #663366"> -->
  <div class="container-fluid text-center text-md-left">
    <div class="container">
      <div class="row row-30">
        <div class="col-sm-12">
          <br>
          <h1 style="font-family: georgia,palatino; font-size: 14pt;color: #808080;"> CONTACT</h1>
          <h2>
            <p style="font-family: georgia,palatino; font-size: 14pt;
        color: #e90691;" lang="FR"><strong>Ostinato</strong><a style="color: #808080;"> - </a><a
                style="font-family: georgia,palatino;font-size: 14pt;color: #6f2c58;" lang="FR"><strong>Bénédicte
                  Debruyne</strong></a>
          </h2>
          <div style = "color: #ab5494;">Avenue Edmond Parmentier, 240 bte 3 <br>
            1150 Bruxelles <br>
            GSM: +32495551091 <br>
            www.ostinato8.be - <strong><span style="color: #6f2c58;" lang="FR">ostinato8@gmail.com</span></strong></div>
        </div>
      </div>
    </div>
  </div>
</footer>
