<app-subnavbarkinesio></app-subnavbarkinesio>
<p style="text-align: center;" ><strong><span
  style="font-size: 14pt;"><span style="color: #e90691;" lang="FR">Thérapie du Bien-être…</span></span></strong></p>

<p style="text-align: center;" ><strong><span
style="font-size: 14pt;"><span style="color: #6f2c58;" lang="FR">Gestion du
stress…</span></span></strong></p>
<img style="display: block; margin-left: auto; margin-right: auto;"
src="assets/images/kinesiologie.jpg" class="img-fluid" alt="Responsive image"  />
<p><span style="font-family: georgia,palatino;"> </span></p>
<p style="text-align: center;"><span style="font-size: 14pt; font-family: georgia,palatino;"><strong><span
style="color: #e90691;" lang="FR">Kinésiologie</span></strong></span></p>
<div class="container-fluid">
    <div class="col col-lg-10 offset-lg-1">
      <div class="offset-lg-1" style="text-align: left; color: #808080; font-size: 12pt;">
  Si vous désirez prendre un rendez-vous, je consulte:
      <span style="font-size: 14pt;"><span style="font-family: georgia,palatino;"><span
        style="font-size: 14pt;">
        <p><span style="font-size: 12pt; font-family: georgia,palatino;"><span style="color: #555555;"><span
                style="color: #808080;"><br /></span></span></span></p>
        <ul>
          <li>
            <div style="margin: 6pt 0cm;"><span style="font-family: georgia,palatino;"><span
                  style="font-size: 12pt;"><span style="color: #663366;"><span
                      style="color: #808080;">Tous</span><strong> les lundis, mardis et vendredis entre 9h et 19h
                    </strong></span><strong><span style="color: #808080;"> </span></strong></span><span
                  style="font-size: 12pt;"><span style="color: #808080;">et tous</span><strong><span
                      style="color: #663366;"> les samedis matins </span></strong><span
                    style="color: #808080;">à:</span></span></span></div>
          </li>
        </ul>
        <p style="text-align: center; margin: 6pt 0cm;" align="center"><span
            style="color: #808080; font-size: 12pt; font-family: georgia,palatino;">Avenue Edmond Parmentier, 240</span>
        </p>
        <p style="text-align: center; margin: 6pt 0cm;" align="center"><span
            style="color: #808080; font-size: 12pt; font-family: georgia,palatino;"><span
              style="font-size: 10pt;">(sonnette Bénédicte Debruyne)</span><br /></span></p>
        <p style="text-align: center; margin: 6pt 0cm;" align="center"><span
            style="color: #808080; font-size: 12pt; font-family: georgia,palatino;"> 1150 Bruxelles</span></p>
        <p style="text-align: center; margin: 6pt 0cm;" align="center"> </p>
        <p><span style="font-family: georgia,palatino;"><span style="font-size: 14pt;"><span
                style="font-family: georgia,palatino;"><span style="font-size: 14pt;"> </span></span></span></span></p>
      </span></span></span><strong><span style="font-size: 14pt;"><span
        style="font-family: georgia,palatino;"><strong><span style="font-size: 14pt;">
            <p><span style="color: #808080; font-size: 12pt; font-family: georgia,palatino;"> </span></p>
            <p style="text-align: left; margin: 6pt 0cm;" align="center"><span
                style="font-family: georgia,palatino; color: #808080;"><span style="font-size: 12pt;"> </span><span
                  style="font-size: small;" size="3" color="#555555"> </span></span></p>
          </span></strong></span></span></strong><span style="font-size: 14pt;"><span
      style="font-family: georgia,palatino;"><span style="font-size: 14pt;">
        <p style="text-align: left; margin: 6pt 0cm;" align="center"><span
            style="font-family: georgia,palatino; color: #808080; font-size: 12pt;" size="3" color="#555555">Appelez-moi
            au 0495/55 10 91 pour fixer un rendez-vous ou réservez-le en cliquant sur le bouton ci-dessous:</span></span>

          <button aria-hidden="true" type="button" class="btn btn-primary" class="nav-link" [routerLink]="['/rendezvous']"
            routerLinkActive="router-link-active" (click)="hautPage()">Rendez-vous</button>
      </span></span><span style="font-size: 14pt;"><span style="font-family: georgia,palatino;"><span
        style="font-size: 14pt;">
        <p style="text-align: left; margin: 6pt 0cm;" align="center"><span
            style="color: #555555; font-size: small; font-family: georgia,palatino;" size="3" color="#555555"><span
              style="color: #808080;"> </span></span></p>
        <p><span style="font-family: georgia,palatino; color: #808080; font-size: 12pt;"> Durée de la séance&nbsp;:
          </span></p>
        <p><span style="font-size: 12pt; font-family: georgia,palatino;"> </span></p>
        <ul>
          <li><span style="font-size: 12pt; font-family: georgia,palatino;"><span
                style="font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
              </span><span style="color: #808080;">1h pour la </span><strong><span style="color: #e90691;"
                  lang="FR">Kinésiologie</span></strong></span></li>
        </ul>
        <p><span style="font-family: georgia,palatino; font-size: 12pt;"> </span></p>
      </span></span></span><span style="font-size: 14pt;"><span style="font-family: georgia,palatino;"><span
        style="font-size: 14pt;"><span style="font-family: georgia,palatino; font-size: 12pt;"> <span
            style="color: #808080;">Prix de la séance: 55€</span></span></span></span></span><strong><span
      style="font-size: 14pt;"><span style="font-family: georgia,palatino;"><strong><span style="font-size: 14pt;">
          </span></strong></span></span></strong><span style="font-size: 14pt;"><span
      style="font-family: georgia,palatino;"><span style="font-size: 14pt;">
        <p> </p>
      </span></span></span><span style="font-size: 14pt;"><span style="font-family: georgia,palatino;"><span
        style="font-size: 14pt;">
        <p><span style="color: #595959; line-height: 115%; font-family: georgia,palatino; font-size: 12pt;"> </span></p>
      </span></span></span>
      <br /> <br /> <br /> <br /> <br />
      <div class="row">
        <div class="col-md-4 text-left"><a class="nav-link" [routerLink]="['/kinesiologie']"
            routerLinkActive="router-link-active" (click)= "hautPage()">Kinésiologie</a></div>
        <div class="col-md-4 text-center"><a class="nav-link" (click)= "hautPage()" style="color:#527BFF; cursor: pointer">Haut de la page</a></div>
        <div class="col-md-4 col-md-offset-4 text-right"><a class="nav-link" [routerLink]="['/quisuisje']"
            routerLinkActive="router-link-active" (click)= "hautPage()">Qui suis-je?</a></div>
      </div>
