<app-subnavbar></app-subnavbar>
<table style="margin-right: auto; margin-left: auto;">
  <tbody>
    <tr>
      <td><img src="assets/images/logo_chantprenatal.png" class="img-fluid" alt="Responsive image"  /></td>
      <td>
        <div style="color: #e90691; font-size: 14pt; line-height: 115%;"><b>Chant
            Prénatal</b></div>
      </td>
    </tr>
  </tbody>
</table>
<img style="margin-right: auto; margin-left: auto; display: block;" src="assets/images/accueil.jpg" class="img-fluid" alt="Responsive image" />
<div>
  <br>
  <div style="text-align: center; line-height: normal; color: #e90691; font-size: 14pt;"><b>Développez une communication
      forte avec votre bébé par</b><br /></div>
</div>
<div style="text-align: center; line-height: normal; color: #e90691; font-size: 14pt;"><b>Le Chant Prénatal</b></div>
<div class="container-fluid">
  <div class="col col-lg-10 offset-lg-1">
    <div class="offset-lg-1" style="text-align: left; color: #808080; font-size: 12pt;">
      Savez-vous que le chant prénatal:
      <div>
        <table>
          <tbody>
            <tr>
              <td><img src="assets/images/promotion_1.jpg" class="img-fluid" alt="Responsive image"></td>
              <td>
                <ul>
                  <li style="color: #e90691;"><b>Détend la maman, le papa et leur bébé.</b></li><br>
                  <li style="color: gray;">Calme les nouveaux nés</li><br>
                  <li style="color: #e90691;"><b>Développe une communication sensitive avec son bébé.</b></li><br>
                  <li style="color: gray;">Aide le bébé à bâtir son édifice physique et psychique.</li><br>
                  <li style="color: #e90691"><b>Permet de gérer ses émotions de manière optimale.</b></li><br>
                  <li style="color: gray;">Maintient la maman en bonne santé, et lui permet de gagner en vitalité
                    pour se préparer à accoucher.</li><br>
                  <li style="color: #e90691;"><b>Facilite l’accouchement.</b></li><br>
                  <li style="color: gray;">Evite les moments de panique et soulage la douleur pendant l’accouchement.
                  </li><br>
                  <li style="color: #e90691;"><b>Permet l’apprentissage de chansons que le bébé entendra in utero et
                      après la naissance. </b></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br /> <br />
      <div style="color: #e90691; "><b>Une harmonie par le chant pour l’enfant à naître, le papa et la
          maman:</b></div>
      <br>

      <ul>
        <li>Se relaxer</li>
        <li>Créer un lien avec bébé</li>
        <li>Préparer l'accouchement</li>
        <li>Se faire du bien en chantant</li>
      </ul>
      <br>
      <div>Chaque séance comporte un travail corporel puis un temps de technique
        vocale et d’expression vocale.
        <br>Aucune connaissance musicale ou vocale n’est requise.
        <br><br>Le chant prénatal est un accompagnement de la grossesse qui prépare
        à l’accouchement. Il est complémentaire à la préparation classique.
        <br> C’est un moment de bien-être – bien naître – pour la maman et l’enfant
        qui apporte également joie et confiance en soi. La participation du père aux séances est encouragée,
        car elle présente un soutien important pour la future maman et fait du bien au bébé.

        <br><br>… apprend à la future maman:
        <br><br>
        <ul>
          <li>à redécouvrir son corps</li>
          <li>à se relaxer et exprimer ses émotions en chantant</li>
          <li>à mieux se tenir et acquérir un meilleur équilibre pour mieux porter l’enfant</li>
          <li>à soulager le dos</li>
          <li>à travailler les muscles qui seront importants le jour de l’accouchement</li>
        </ul>
        <br>… permet au papa:
        <br><br>
        <ul>
          <li>de partager l’histoire que vit la maman avec le bébé</li>
          <li>de se préparer à la paternité</li>
          <li>de lâcher prise et d’exprimer ses émotions</li>
        </ul>
        <br>
        Et c’est bon pour le bébé !
        <br>La voix grave du papa va compléter la voix maternelle plus aigüe ce qui est rassurant pour le bébé.
        Ainsi les parents vont nouer ensemble un premier dialogue avec leur bébé. Les vibrations que produisent
        les voix des parents sont bénéfiques pour l’équilibre neurophysiologique et affectif du bébé qui
        bénéficie d’un véritable massage sonore.<br>Effets positifs sur sa coordination psychomotrice et
        sur l’éveil sensoriel assurés!
      </div>
      <br /> <br /> <br /> <br /> <br />
      <div class="row">
        <div class="col-md-4"><a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active"
            (click)="hautPage()">Accueil</a></div>
        <div class="col-md-5"><a class="nav-link" (click)="hautPage()"
            style="color:#527BFF; cursor: pointer">Haut
            de la page</a></div>
        <div class="col-md-3"><a class="nav-link" [routerLink]="['/chantprenatal/bienfaits']"
            routerLinkActive="router-link-active" (click)="hautPage()">Bienfaits</a></div>
      </div>
    </div>
  </div>
  <div>
  </div>
  <div>
