<app-subnavbar></app-subnavbar>
<table style="margin-right: auto; margin-left: auto;" border="0">
  <tbody>
    <tr>
      <td><img src="assets/images/logo_chantprenatal.png" class="img-fluid" alt="Responsive image"  /></td>
      <td>
        <div style="color: #e90691; font-size: 14pt; line-height: 115%;"><b>Chant
            Prénatal</b></div>
      </td>
    </tr>
  </tbody>
</table>
<img style="margin-right: auto; margin-left: auto; display: block;" src="assets/images/accueil.jpg" class="img-fluid"
  alt="Responsive image" />
<br>
<div class="container-fluid">
  <div class="col col-lg-10 offset-lg-1">
    <div class="offset-lg-1" style="text-align: left; color: #808080; font-size: 12pt;">

      <p><span style="color: gray; font-size: 12pt;">Chaque séance comprend du travail vocal et corporel adaptés à
          la
          grossesse. Il n’est pas nécessaire de connaître le solfège, ni d’être un chanteur ou une chanteuse
          expérimenté€ pour
          participer aux séances. Il suffit d’avoir envie de prendre un moment pour soi et son bébé.</span></p>
      <span style="color: gray; font-size: 12pt;">
        <p><br /> <span style="color: #e90691; font-size: 12pt;"><b>Travail Corporel</b></span> - <span
            style="color: #663366; font-size: 12pt;"><i>Prendre conscience de son corps</i></span></p>
        <ul>
          <li style="line-height: normal;"><span style="font-size: 12pt;"><span style="color: gray;">Se
                détendre</span></span>
          </li>
          <br />
          <li style="line-height: normal;"><span style="font-size: 12pt;"><span style="color: gray;">Ecouter son
                corps</span></span></li>
          <br />
          <li style="line-height: normal;"><span style="font-size: 12pt;"><span style="color: gray;">Ressentir son
                souffle</span></span></li>
          <br />
          <li style="line-height: normal;"><span style="font-size: 12pt;"><span style="color: gray;">Travailler
                les sons
                graves*</span></span></li>
        </ul>
        <p><br /> <span style="color: #e90691; font-size: 12pt;"><b>Technique Vocale</b></span> - <span
            style="color: #663366; font-size: 12pt;"><i>Donner corps à sa voix</i></span></p>
        <ul>
          <li style="line-height: normal;"><span style="font-size: 12pt;"><span style="color: gray;">Eveiller sa
                voix</span></span></li>
          <br />
          <li style="line-height: normal;"><span style="font-size: 12pt;"><span style="color: gray;">Faire chanter
                son
                corps</span></span></li>
          <br />
          <li style="line-height: normal;"><span style="font-size: 12pt;"><span style="color: gray;">Explorer sa
                voix</span></span></li>
        </ul>
        <p><br /> <span style="color: #e90691; font-size: 12pt;"><b>Expression Vocale</b></span> - <span
            style="color: #663366; font-size: 12pt;"><i>Présence du corps et de la voix</i></span></p>
        <ul>
          <li style="line-height: normal;"><span style="font-size: 12pt;"><span style="color: gray;">Se faire
                plaisir en
                chantant</span></span></li>
          <br />
          <li style="line-height: normal;"><span style="font-size: 12pt;"><span style="color: gray;">Jeux vocaux
                et répertoire
                spécial prénatal</span></span></li>
        </ul>
        <p><br /> <span style="color: #e90691; font-size: 12pt;"><b> Travailler les sons graves*</b></span> <span
            style="color: gray; font-size: 12pt;"> </span></p>
        <p><span style="color: gray; font-size: 12pt;">Les sons graves sont reconnus comme un outil dont la femme
            peut se
            servir si elle le souhaite. Le principe est d’accompagner les contractions avec la voix. La voix de la
            mère bien
            sûr mais aussi celle du père.</span> <br /> <span style="color: #663366; font-size: 12pt;"> </span>
        </p>
        <p><span style="color: #663366; font-size: 12pt;"><b>Le son est dit grave, pourquoi ?</b></span></p>
        <p><span style="color: gray; font-size: 12pt;">Tout au long de la grossesse, la voix de la femme gagne en
            capacité à
            descendre dans les graves et le jour où va se déclencher la naissance, la voix va pouvoir
            naturellement s’exprimer
            dans les sons les plus graves. </span> <br /> <span style="color: #663366; font-size: 12pt;"> <b>
            </b></span></p>
        <p><span style="color: #663366; font-size: 12pt;"><b>Qu’est-ce qui se passe avec les sons graves ?
            </b></span></p>
        <p><span style="color: gray; font-size: 12pt;">Ces sons graves font vibrer le bassin. Par ces vibrations,
            le corps se
            détend et plus le corps est détendu, plus le travail peut se faire avec facilité. En outre, les sons
            enveloppent
            la femme / le couple d’une enveloppe sonore. En émettant ainsi des sons « graves », la femme est avec
            ce qui se
            passe, consciemment. Elle n’est pas « contre » comme cela pourrait l’être avec des sons aigus. Le
            travail est
            favorisé et la dimension du temps change.</span></p>
        <p><span style="color: gray; font-size: 12pt;">Cela donne un outil.</span></p>
        <p><span style="color: gray; font-size: 12pt;">Cela peut se faire dans l’eau si l’accouchement est prévu
            en baignoire;
            cela peut se faire même s’il y a péridural.</span></p>
        <p><span style="color: #663366; font-size: 12pt;"> <b>A quel moment les utiliser ? </b></span></p>
        <p><span style="color: gray; font-size: 12pt;">Les sons se font pendant les contractions. A tout moment
            pendant le
            processus de dilatation. </span> <span style="color: #663366; font-size: 12pt;"> <b> </b></span></p>
        <p><span style="color: #663366; font-size: 12pt;"><b>Comment ? </b></span></p>
        <p><span style="color: gray; font-size: 12pt;">Pour s’exercer, il n’est pas nécessaire de « forcer la voix
            », une
            vibration même légère est déjà très puissante. Il convient de s’installer dans le registre le plus
            confortable
            pour soi et le temps fait le reste. La voix et les sons qui sortiront le jour de la naissance peuvent
            être très
            différents. L’essentiel à comprendre est la vibration. Ces sons ont un effet « analgésique » et
            atténuent la
            sensation de douleur.</span></p>
        <div><span style="color: #595959; line-height: 115%; font-family: georgia,palatino; font-size: 12pt;">
          </span></div>
        <div><span style="color: #595959; line-height: 115%; font-family: georgia,palatino; font-size: 12pt;">
          </span></div>
        <div><span style="color: #595959; line-height: 115%; font-family: georgia,palatino; font-size: 12pt;">
          </span></div>
        <div><span style="color: #595959; line-height: 115%; font-family: georgia,palatino; font-size: 12pt;">
          </span></div>
        <div><span style="color: #595959; line-height: 115%; font-family: georgia,palatino; font-size: 12pt;">
          </span></div>
        <br /> <br /> <br /> <br /> <br />
        <div class="row">
          <div class="col-md-4 text-left"><a class="nav-link" [routerLink]="['/chantprenatal/bienfaits']"
              routerLinkActive="router-link-active" (click)="hautPage()">Bienfaits</a></div>
          <div class="col-md-4 text-center"><a class="nav-link" (click)="hautPage()"
              style="color:#527BFF; cursor: pointer">Haut de la page</a></div>
          <div class="col-md-4 col-md-offset-4 text-right"><a class="nav-link"
              [routerLink]="['/chantprenatal/enpratique']" routerLinkActive="router-link-active" (click)="hautPage()">En
              pratique</a></div>
        </div>
